.container {
  font-family: "Combo", cursive;
}

/* Header */
#title {
  text-align: center;
  font-family: "Cedarville Cursive", cursive;
  margin-bottom: 5px;
}

#level {
  text-align: center;
}

#startagain-initial {
  font-size: x-large;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#buttons-top {
  display: flex;
  justify-content: sp;
}

.buttontop {
  margin: 5px;
}

/* Main */
main {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}

/* Options */
aside {
  margin-right: 50px;
  width: 150px;
}

span {
  color: darkgray;
}

li {
  list-style-type: none;
}

#dragred {
  color: rgb(241, 122, 122);
}

#dragyellow {
  color: rgba(247, 207, 31, 0.932);
}

#dragblue {
  color: rgb(110, 174, 235);
}

#draggreen {
  color: rgb(65, 196, 152);
}

#reference {
  color: gray;
  font-size: small;
}

/* Squares */

#middle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 50px;
}

#squares {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* margin-left: ; */
}

#question,
#guess {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}

#questionsquares,
#guesssquares {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}
.col-md-2 {
  border: 1px solid black;
  height: 5em;
  width: 5em;
  margin-bottom: 5px;
  padding: 35px 0;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  white-space: nowrap;
}

#anssq1,
#anssq2,
#anssq3,
#anssq4 {
  padding: 0;
}

.red {
  background-color: rgb(241, 122, 122);
}

.yellow {
  background-color: rgba(247, 207, 31, 0.932);
}

.blue {
  background-color: rgb(110, 174, 235);
}

.green {
  background-color: rgb(65, 196, 152);
}

/* Buttons */
button {
  font-size: large;
  background-color: darkgray;
  color: white;
}

.button:hover {
  transform: scale(1.1);
}

#buttons-bottom {
  display: flex;
  justify-content: space-around;
  /* margin-top: 5px; */
  /* margin-bottom: 15px; */
}
